@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono");
@tailwind base;
@tailwind components;
@tailwind utilities;

.form_input {
  @apply block px-2.5 py-1.5 lg:py-2.5 w-full text-xs md:text-lg bg-transparent rounded-lg appearance-none focus:outline-none focus:ring-0 font-secondary font-semibold leading-8 text-third font-semibold font-secondary;
}
.form_label {
  @apply absolute duration-300 text-xs md:text-sm transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 text-third font-semibold font-secondary;
}
.cursor_not_allowed {
  cursor: not-allowed;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a2a31;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a647c;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a4452;
}
